.footer {
    padding: 5rem 0;
    background-color: #333333;
    margin-bottom: 0;

    .contenedor-footer {
        padding-top: 5rem;
    }

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright {
        color: #FFFFFF;
        text-align: center;
    }
}

