.footer{
    padding: 5rem;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer{
        padding-top: 5rem;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}